<% include cabecera.html %>
    <header>
      <h1><%= title %></h1>
      <p><%=__('Pagina de la Practica de Node BackEnd')%></p>
    </header>
    <h2><%=__('Listado los anuncios de NodePOP')%></h2>
    <form action="/" method="GET">
      <label for="articulo"><%=__('Nombre de artículo:')%></label>
      <input type="text" id="articulo" name="articulo"/><br />

      <label for="precio"><%=__('Precio:')%></label>
      <input type="text" id="precio" name="precio"/><br/>
      <label for="precio">
        <sup>
          <%=__('Se puede poner: Un valor fijo, Con un guion detras para que los valores sean superiores, Con un guion delante para que los valores sean inferiores, o Dos valores separados por un guion para sacar entre  esos valores.')%></li>
        </sup> </label><br />

      <label for="venta"><%=__('En venta:')%></label>
      <input type="radio" id="venta" name="venta" value="V" ></input>
      <label for="venta"><%=__('Para comprar:')%></label>
      <input type="radio" id="venta" name="venta" value="C" ></input>
      <label for="venta"><%=__('Todos:')%></label>
      <input type="radio" id="venta" name="venta" value="T" checked></input>
      <br />

      <label for="tags"><%=__('Todos:')%></label>
      <select name="tags" id="tags" multiple = true>
        <%tags.forEach(tag => {%>
          <option value="<%=tag.tag%>"><%=tag.tag%></option>
        <%});%>
      </select>
      <br />

      <label for="limit"><%=__('Paginación:')%></label>
      <label for="limit">2</label>
      <input type="radio" id="limit" name="limit" value="2" <%if(limit==2){%>checked<%}%>></input>
      <label for="limit">5</label>
      <input type="radio" id="limit" name="limit" value="5" <%if(limit==5){%>checked<%}%>></input>
      <label for="limit">10</label>
      <input type="radio" id="limit" name="limit" value="10" <%if(limit==10){%>checked<%}%>></input>
      <label for="limit"><%=__('Todos:')%></label>
      <input type="radio" id="limit" name="limit" value="A" <%if(limit==total){%>checked<%}%>></input>
      <br />
      <%if(limit!==total){
        for(let i = 0; i <= (total/limit);i++) {%>
          <input type="submit" value="<%=((i*limit)+1)%>-<%=(((i+1)*limit)<total)?((i+1)*limit):total%>" id="skip" name="skip"/>
      <%}}%>
      <br />
      <input type="submit" value="Buscar"/>
    </form>
    <div class="listado">
        <%nodePOPs.forEach(nodePOP => {%>
          <div class="anuncio">
            <p><strong><%=__('Articulo:')%> <%=nodePOP.articulo%></strong></p>
            <div class="detalle">
              <div>
              <p><%=__('Precio:')%> <%=nodePOP.precio%>€</p>
              <p> <% if(nodePOP.venta) {%>
                  <%=__('En Venta')%>
                  <% } else{ %>
                    <%=__('Para comprar')%>
                  <% } %>
              </p>
              <p><%=__('Etiquetas:')%>
                <ul>
                <%nodePOP.tags.forEach(tag => {%>
                  <li><%=tag%></li>
                <%});%>
                </ul>
              </p>
            </div>
            <div><img src="/images/<%=nodePOP.foto%>" alt="Imagen"></div>
          </div>
        </div>
        <%});%>
    </div> 
    <h2><%=__('Listar los tags')%></h2>
    <div>
      <ul>
        <%tags.forEach(tag => {%>
          <li><%=tag.tag%></li>
        <%});%>
      </ul>
    </div> 
<% include pie.html %>